### EXERCISES: LEVEL 1

QUESTION 1

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
# FOR WHILE LOOP
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

QUESTION 2

In [3]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [4]:
# FOR WHILE LOOP
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

QUESTION 3

In [5]:

for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

QUESTION 4

In [6]:
# Loop to create an 8x8 grid
for i in range(8):
    print('# ' * 8)

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

QUESTION 5

In [7]:
# Loop to create a multiplication pattern
for i in range(11):
    print(f"{i} x {i} = {i * i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

QUESTION 6

In [8]:

languages = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']


for language in languages:
    print(language)

Python
Numpy
Pandas
Django
Flask

QUESTION 7

In [ ]:
# Loop to print even numbers
for i in range(0, 101, 2):
    print(i)

QUESTION 8

In [ ]:
# Loop to print odd numbers
for i in range(1, 101, 2):
    print(i)

### LEVEL 2

In [12]:
#QUESTION 1

total_sum = 0

for i in range(101):
    total_sum += i


print("The sum of all numbers is", total_sum)

The sum of all numbers is 5050

In [13]:
#QUESTION 2
# Initialize sums
even_sum = 0
odd_sum = 0

for i in range(101):
    if i % 2 == 0:  
        even_sum += i
    else:           
        odd_sum += i

print("The sum of all evens is", even_sum)
print("The sum of all odds is", odd_sum)

The sum of all evens is 2550
The sum of all odds is 2500

### LEVEL 3

In [1]:
# QUESTION 1
from countries import countries

countries_with_land = [country for country in countries if 'land' in country]

print("Countries containing 'land':", countries_with_land)

Countries containing 'land': ['Finland', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Poland', 'Solomon Islands', 'Swaziland', 'Switzerland', 'Thailand']

In [2]:
#QUESTION 2
fruits = ['banana', 'orange', 'mango', 'lemon']


reversed_fruits = []
for i in range(len(fruits) - 1, -1, -1):  
    reversed_fruits.append(fruits[i])

print("Reversed fruit list:", reversed_fruits)

Reversed fruit list: ['lemon', 'mango', 'orange', 'banana']