### EXERCISES: LEVEL 1

In [1]:
#QUESTION 1
def add_two_numbers():
  a = 34
  b = 56
  total = a + b
  return total 

print(add_two_numbers())

90

In [2]:
#QUESTION 2

def area_of_circle(radius):
    pi =3.142
    radius = 30
    return pi * radius * radius

print(area_of_circle(30))

2827.7999999999997

In [3]:
#QUESTION 3
def sum_all_nums(*nums):
    total = 0
    for num in nums:
        total += num     
    return total
print(sum_all_nums(7, 2, 9))

18

In [5]:
# QUESTION 4
def convert_celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32


print(convert_celsius_to_fahrenheit(2))    
print(convert_celsius_to_fahrenheit(70))

35.6
158.0

In [6]:
#QUESTION 5
def check_season(month):
    month = month.lower()
    if month in ['december', 'january', 'february']:
        return 'Winter'
    elif month in ['march', 'april', 'may']:
        return 'Spring'
    elif month in ['june', 'july', 'august']:
        return 'Summer'
    elif month in ['september', 'october', 'november']:
        return 'Autumn'
    return 'Invalid month'


print(check_season('december'))

Winter

In [7]:
# QUESTION 6
def calculate_slope(x1, y1, x2, y2):
    return (y2 - y1) / (x2 - x1)


print(calculate_slope(1, 3, 6, 8))

1.0

In [8]:
#QUESTION 8
def print_list(items):
    for item in items:
        print(item)


print_list(['chair', 'table', 'fan', 'window'])

chair
table
fan
window

In [10]:
#QUESTION 9
def reverse_list(items):
    reversed_lst = []
    for item in items:
        reversed_lst.insert(0, item)
    return reversed_lst

# Example usage:
print(reverse_list(['chair', 'table', 'fan', 'window']))

['window', 'fan', 'table', 'chair']

In [11]:
# QUESTION 10
def capitalize_list_items(items):
    return [item.capitalize() for item in items]

# Example usage:
print(capitalize_list_items(['chair', 'table', 'fan', 'window']))

['Chair', 'Table', 'Fan', 'Window']

In [12]:
#QUESTION 11
def add_item(items, item):
    items.append(item)
    return items


Parlor = ['chair', 'table', 'fan', 'window']
print(add_item(Parlor, 'Vase'))

['chair', 'table', 'fan', 'window', 'Vase']

In [14]:
#QUESTION 12
def remove_item(items, item):
    if item in items:
        items.remove(item)
    return items


Parlor= ['chair', 'table', 'fan', 'window']
print(remove_item(Parlor, 'window'))

['chair', 'table', 'fan']

In [16]:
#QUESTION 13
def sum_of_numbers(num):
    return sum(range(1, num + 1))

print(sum_of_numbers(5)) 
print(sum_of_numbers(10)) 
print(sum_of_numbers(100))

15
55
5050

In [17]:
#QUESTION 14
def sum_of_odds(num):
    return sum(i for i in range(1, num + 1) if i % 2 != 0)


print(sum_of_odds(5)) 
print(sum_of_odds(10))
print(sum_of_odds(100))

9
25
2500

In [18]:
#QUESTION 15
def sum_of_even(num):
    return sum(i for i in range(1, num + 1) if i % 2 == 0)

# Example usage:
print(sum_of_even(5))  
print(sum_of_even(10)) 
print(sum_of_even(100))

6
30
2550

### LEVEL 2

In [19]:
#QUESTION 1
def evens_and_odds(n):
    evens = 0
    odds = 0
    for i in range(n + 1):
        if i % 2 == 0:
            evens += 1
        else:
            odds += 1
    return f"Evens: {evens}, Odds: {odds}"

# Example usage:
print(evens_and_odds(100))

Evens: 51, Odds: 50

In [20]:
#QUESTION 2
def factorial(num):
    result = 1
    for i in range(1, num + 1):
        result *= i
    return result


print(factorial(3))

6

In [21]:
#QUESTION 3
def is_empty(value):
    if value:
        return False
    return True


print(is_empty([]))      
print(is_empty("Naima"))

True
False

In [22]:
#QUESTION 4a
def calculate_mean(nums):
    return sum(nums) / len(nums)


print(calculate_mean([2, 4, 6, 8]))

5.0

In [24]:
#QUESTION 4b
def calculate_median(nums):
    nums.sort()
    n = len(nums)
    if n % 2 == 0:
        return (nums[n // 2 - 1] + nums[n // 2]) / 2
    return nums[n // 2]


print(calculate_median([ 2, 4, 6, 8]))  
print(calculate_median([ 2, 4, 6, 8, 10]))

5.0
6

In [25]:
# QUESTION 4d
def calculate_range(lst):
    return max(lst) - min(lst)


print(calculate_range([2, 4, 6, 8]))

6

In [26]:
def calculate_variance(lst):
    mean = calculate_mean(lst)
    total = 0
    for num in lst:
        total += (num - mean) ** 2
    return total / len(lst)

print(calculate_variance([ 2, 4, 6, 8]))

5.0

In [27]:
# QUESTION 4e
def calculate_std(num):
    variance = calculate_variance(num)
    return variance ** 0.5

print(calculate_std([2, 4, 6, 8]))

2.23606797749979

### LEVEL 3

In [28]:
#QUESTION1
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True


print(is_prime(3))  
print(is_prime(10))

True
False

In [29]:
# QUESTION 2
def are_items_unique(num):
    return len(num) == len(set(num))


print(are_items_unique([ 2, 4, 6]))  
print(are_items_unique([ 2, 2, 4, 6]))

True
False

In [31]:
# QUESTION 3
def are_items_same_type(num):
    first_type = type(num[0])
    for item in num:
        if type(item) != first_type:
            return False
    return True


print(are_items_same_type([2, 4, 6, ]))    
print(are_items_same_type(['2', 4, 6, ]))

True
False

In [33]:
#QUESTION 4
def is_valid_variable(var):
    return var.isidentifier()

print(is_valid_variable("my_nums"))  
print(is_valid_variable("2nums"))

True
False

### LIST COMPREHENSION EXERCISES

In [34]:
#QUESTION 1
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
negative_and_zero = [num for num in numbers if num <= 0]

print(negative_and_zero)

[-4, -3, -2, -1, 0]

In [35]:
# QUESTION 2
list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flattened_list = [num for sublist1 in list_of_lists for sublist2 in sublist1 for num in sublist2]

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# QUESTION 3
tuples_list = [(x, 1, x, x**2, x**3, x**4, x**5) for x in range(11)]

print(tuples_list)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

In [37]:
# QUESTION 4
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flattened_countries = [[country.upper(), country[:3].upper(), city.upper()] 
                       for sublist in countries for country, city in sublist]
print(flattened_countries)

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [38]:
#QUESTION 5
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
countries_dicts = [{'country': country.upper(), 'city': city.upper()} 
                   for sublist in countries for country, city in sublist]
print(countries_dicts)

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

In [39]:
# QUESTION 6
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
concatenated_names = [' '.join(name) for sublist in names for name in sublist]

print(concatenated_names)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']