# EXERCISES MODULE 5

# LIST EXERCISES

In [27]:
# QUESTION 1
empty_list = []
print(empty_list)

[]

In [28]:
#QUESTION 2
house_items = ['table', 'chair', 'sofa', 'lamp', 'rug', 'shelf','Tv' ]
print(house_items)

['table', 'chair', 'sofa', 'lamp', 'rug', 'shelf', 'Tv']

In [29]:
# QUESTION 3
print(len(house_items))

7

In [30]:
# QUESTION 4
first_item = house_items[0]
middle_item = house_items[3]
last_item = house_items[-1]
print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: table
Middle item: lamp
Last item: Tv

In [32]:
# QUESTION 5
mixed_data_types = ['Naima', 35, 5.6, 'Married', 'Kano, Nigeria']
print(mixed_data_types)

['Naima', 35, 5.6, 'Married', 'Kano, Nigeria']

In [33]:
# QUESTION 6
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [34]:
# QUESTION 7
print( len(it_companies))

7

In [36]:
# QUESTION 8
first_company = it_companies[0]
middle_company = it_companies[3]
last_company = it_companies[-1]
print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

First company: Facebook
Middle company: Apple
Last company: Amazon

In [38]:
# QUESTION 9
it_companies = ['Facebook', 'Googles', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Googles', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [39]:
# QUESTION 10
it_companies.append('Twitter')
print( it_companies)

['Facebook', 'Googles', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter']

In [40]:
# QUESTION 11
it_companies.insert(4, 'Spotify')
print(it_companies)

['Facebook', 'Googles', 'Microsoft', 'Apple', 'Spotify', 'IBM', 'Oracle', 'Amazon', 'Twitter']

In [45]:
#QUESTION 12
it_companies[3] = it_companies[3].upper()
print(it_companies)

['facebook', 'Googles', 'Microsoft', 'APPLE', 'Spotify', 'IBM', 'Oracle', 'Amazon', 'Twitter']

In [47]:
#QUESTION 13
joined_companies = '#; '.join(it_companies)
print(joined_companies)

facebook#; Googles#; Microsoft#; APPLE#; Spotify#; IBM#; Oracle#; Amazon#; Twitter

In [48]:
#QUESTION 14
company_to_check = 'Twitter'
print(f"Is {company_to_check} in the list?", company_to_check in it_companies)

Is Twitter in the list? True

In [50]:
#QUESTION 15
it_companies.sort()
print("Sorted list:", it_companies)

Sorted list: ['APPLE', 'Amazon', 'Googles', 'IBM', 'Microsoft', 'Oracle', 'Spotify', 'Twitter', 'facebook']

In [51]:
# QUESTION 16
it_companies.reverse()
print("Reversed list:", it_companies)

Reversed list: ['facebook', 'Twitter', 'Spotify', 'Oracle', 'Microsoft', 'IBM', 'Googles', 'Amazon', 'APPLE']

In [52]:
# QUESTION 17
first_3 = it_companies[:3]
print("First 3 companies:", first_3)

First 3 companies: ['facebook', 'Twitter', 'Spotify']

In [53]:
#QUESTION 18
last_3 = it_companies[-3:]
print("Last 3 companies:", last_3)

Last 3 companies: ['Googles', 'Amazon', 'APPLE']

In [55]:
# QUESTION 19
Mid_comp = it_companies[4]
print("the middle company is:", Mid_comp)

the middle company is: Microsoft

In [56]:
#QUESTION 20
it_companies.pop(0)
print( it_companies)

['Twitter', 'Spotify', 'Oracle', 'Microsoft', 'IBM', 'Googles', 'Amazon', 'APPLE']

In [ ]:
# QUESTION 21
it_companies.pop(3)
print(it_companies)

['Twitter', 'Spotify', 'Oracle', 'IBM', 'Googles', 'Amazon', 'APPLE']

In [58]:
#QUESTION 22
it_companies.pop(-1)
print( it_companies)

['Twitter', 'Spotify', 'Oracle', 'IBM', 'Googles', 'Amazon']

In [59]:
# QUESTION 23
it_companies.clear()
print( it_companies)

[]

In [60]:
#QUESTION 24
del it_companies

In [61]:
#QUESTION 25
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
full_stack = front_end + back_end
print( full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [63]:
# QUESTION 26

full_stack.insert(5,'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### LEVEL 2

In [65]:
# QUESTION 1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [66]:

ages.sort()
print( ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [67]:

min_age = min(ages)
max_age = max(ages)
print("Min age:", min_age)
print("Max age:", max_age)

Min age: 19
Max age: 26

In [68]:

ages.append(min_age)
ages.append(max_age)
print( ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [72]:
med_age = (ages[5])
print(med_age)

24

In [71]:

# Find the average age
average_age = sum(ages) / len(ages)
print(average_age)

22.75

In [73]:
age_range = max_age - min_age
print( age_range)

7

In [74]:
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print("Difference between min and average:", min_diff)
print("Difference between max and average:", max_diff)

Difference between min and average: 3.75
Difference between max and average: 3.25

In [77]:

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 
    'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 
    'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 
    'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 
    'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 
    'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 
    'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 
    'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 
    'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 
    'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 
    'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 
    'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 
    'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 
    'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 
    'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 
    'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 
    'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 
    'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 
    'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 
    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 
    'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 
    'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 
    'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 
    'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 
    'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 
    'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [78]:
print(len(countries))

193

In [79]:
middle_country = (countries[96])
print(middle_country)

Lesotho

In [82]:
middle_index = len(countries) // 2
first_half = countries[:middle_index + 1]
second_half = countries[middle_index + 1:]

print("First half:", first_half)
print("Second half:", second_half)

First half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second half: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [87]:

countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']


print("First country:", 'China')
print("Second country:", 'Russia')
print("Third country:", 'USA')
print("Scandic countries:",countries[3:])

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

# TUPLE EXERCISES

### LEVEL 1

In [1]:
# QUESTION 1
empty_tuple = ()
print(empty_tuple)

()

In [3]:
# Question 2
sisters = ('Hadiza', 'Amira', 'Samira', 'Rawal', 'Fati')
brothers = ('Baba', 'Faruk', 'Samir')  
print(sisters)
print(brothers)

('Hadiza', 'Amira', 'Samira', 'Rawal', 'Fati')
('Baba', 'Faruk', 'Samir')

In [4]:
# Question 3
siblings = sisters + brothers
print(siblings)

('Hadiza', 'Amira', 'Samira', 'Rawal', 'Fati', 'Baba', 'Faruk', 'Samir')

In [5]:
# Question 4
Total_siblings = len(siblings)
print(Total_siblings)

8

In [6]:
# Question 5
my_family = siblings + ('Abubakar', 'Khadija')
print("my_family:", my_family)

my_family: ('Hadiza', 'Amira', 'Samira', 'Rawal', 'Fati', 'Baba', 'Faruk', 'Samir', 'Abubakar', 'Khadija')

### LEVEL 2

In [ ]:
# Question 1
my_family = ('Hadiza', 'Amira', 'Samira', 'Rawal', 'Fati', 'Ahmed', 'Khalid', 'Yusuf', 'Abubakar', 'Khadija')

print("Siblings:", siblings)
print("Father:", 'Abubakar')
print("Mother:", 'Khadija')

Siblings: ('Hadiza', 'Amira', 'Samira', 'Rawal', 'Fati', 'Baba', 'Faruk', 'Samir')
Father: Abubakar
Mother: Khadija

In [9]:
# Question 2
fruits = ('Pear', 'Pineapple', 'Water melon')
vegetables = ('Cucumber', 'Potato', 'Onions')
animal_products = ('Milk', 'Eggs', 'Meat')

food_stuff_tp = fruits + vegetables + animal_products
print("Food Stuff Tuple:", food_stuff_tp)

Food Stuff Tuple: ('Pear', 'Pineapple', 'Water melon', 'Cucumber', 'Potato', 'Onions', 'Milk', 'Eggs', 'Meat')

In [12]:
# Question 3
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Pear', 'Pineapple', 'Water melon', 'Cucumber', 'Potato', 'Onions', 'Milk', 'Eggs', 'Meat']

In [14]:
# QUESTION 4

print(food_stuff_lt)
midddle_item = food_stuff_lt[4]
print(midddle_item)

['Pear', 'Pineapple', 'Water melon', 'Cucumber', 'Potato', 'Onions', 'Milk', 'Eggs', 'Meat']
Potato

In [15]:
# QUESTION 5
first_3items = food_stuff_lt[:3]
last_3items = food_stuff_lt[-3:]
print(first_3items)
print(last_3items)

['Pear', 'Pineapple', 'Water melon']
['Milk', 'Eggs', 'Meat']

In [ ]:
# QUESTION 6
del food_stuff_tp

In [18]:
# QUESTION 7
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
print("Is 'Estonia' a Nordic country?", 'Estonia' in nordic_countries)
print("Is 'Iceland' a Nordic country?", 'Iceland' in nordic_countries)

Is 'Estonia' a Nordic country? False
Is 'Iceland' a Nordic country? True

# SET EXERCISES

### LEVEL 1

In [10]:
#QUESTION 1
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(f'lenth of companies is', len(it_companies))

lenth of companies is 7

In [11]:
#QUESTION 2
it_companies.add('Twitter')
print(it_companies)

{'Twitter', 'Google', 'Apple', 'Amazon', 'Oracle', 'Microsoft', 'IBM', 'Facebook'}

In [12]:
it_companies.update({'Linkedin', 'Snapchat', 'Whatsapp'})
print(it_companies)

{'Google', 'Apple', 'Amazon', 'Snapchat', 'Oracle', 'Facebook', 'Twitter', 'Linkedin', 'IBM', 'Whatsapp', 'Microsoft'}

In [13]:
it_companies.remove('Facebook')
print(it_companies)

{'Google', 'Apple', 'Amazon', 'Snapchat', 'Oracle', 'Twitter', 'Linkedin', 'IBM', 'Whatsapp', 'Microsoft'}

### LEVEL 2

In [14]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28,27}
union_AB = A.union(B)
print(union_AB)

{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
intersection_AB = A.intersection(B)
print(intersection_AB)

{19, 20, 22, 24, 25, 26}

In [17]:
is_A_subset_B = A.issubset(B)
print(is_A_subset_B)

True

In [18]:
is_AB_disjoint = A.isdisjoint(B)
print(is_AB_disjoint)

False

In [19]:
A_B_joined = A|B
B_A_joined = B|A
print(A_B_joined)
print(B_A_joined)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [20]:
Sym_diff_btw_AB = A.symmetric_difference(B)
print(Sym_diff_btw_AB)

{27, 28}

In [ ]:
del A
del B
print(Both sets deleted)

### LEVEL 3

In [22]:
Ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages_set = set(Ages)
print(len(Ages))
print(len(ages_set))

8
5

In [23]:
sentence ='i am a teacher and i love to inspire and teach people'
words = sentence.split()
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'inspire', 'to', 'teach', 'i', 'a', 'teacher', 'and', 'am', 'love', 'people'}
10